<%= form_for @project do |f| %>
	<%= render "devise/shared/error_messages", resource: @project %>
	
  <div class="form-group">
  	<%= f.label :title %><br />
  	<%= f.text_field :title ,autofocus: true, class: "form-control" %>
		<%= f.hidden_field :creator_id, :value => current_user.id %>
	</div>	
	
  <div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<br>
<%= link_to "Back", projects_path %>