<tr id="project-<%= project.id %>">
  <td><%= project.title.titleize %></td>
  <td>
    <%= link_to project_path(project.id), class: "text-light" do %>
      <i class="far fa-eye"></i>
    <% end %> &nbsp
    
    <% if current_user.manager? %>
      <%= link_to edit_project_path(project.id), data: { remote: true, toggle: 'modal', target: '#exampleModalCenter' }, class: "text-light" do %>
        <i class="far fa-edit"></i>
      <% end %> &nbsp

      <%= link_to 'javascript:void(0)', class: "text-light del-project", data: { id: project.id } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    <% end %> 
  </td>
</tr>