<h1> Show </h1>

<p>
  <strong>Title:</strong>
  <b class= "text-info"><%= @project.title %></b>
</p>

<% if current_user.qa? || current_user.developer? %>      
  <%= render 'bugs/all_bugs' %>
  
  <div class= "container">
    <% if current_user.qa? %>
      <p><%= link_to button_tag('Create Bug', class: "btn btn-success btn-lg"),new_project_bug_path(@project) %></p>
    <% end %>
  </div>
<% end %>

<% if policy(@project).update? %>
  <div class = "table-responsive">
    <table class="table table-dark table-hover users">
      <thead>
        <tr>
          <th>User</th>
          <th>Name</th>
          <th>User Type</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'project_users', collection: @project_users, as: :user %> 

        <%= render partial: 'non_project_users', collection: @nonproject_users, as: :user %>
     </tbody>
    </table>
  </div>
<% end %>

<div class="container"><%= link_to button_tag("Back", class: "btn btn-primary"), projects_path %></div>

<br/><br/>