<h1> Show </h1>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<% if current_user.manager? %>
	<p><%= link_to button_tag('Show Users',id: "show_users"), assign_project_project_path(@project) %></p>
<% end %>   
<%= link_to button_tag("Back"), projects_path %>
<br/><br/>

<table id="users">
		<tr>
	    	<th>Name</th>
	    	<th>User Type</th>
		    <th></th>
		    <th></th>
	    </tr>
	 
	   <% @users.each do |user| %>
		    <tr>
		      <td><%= user.name %></td>
		      <td><%= user.user_type %></td> 
		      <% if user.projects.exists?(@project.id) %>
		      	<td><%= link_to button_tag("Remove From Project"), remove_from_project_project_path(user_id: user.id), method: :delete , data: {confirm: "Are you sure?"}  %></td>

	      	  <% else %>
		      	<td><%= link_to button_tag("Add To Project"), assign_project_project_path(user_id: user.id), method: :post %></td>   
		      <% end %> 
		    </tr>
       <% end %>
</table>