<tr>
  <td><%= bug.title.titleize %></td>
  <td><%= bug.deadline %></td>
  <td><%= image_tag(bug.thumbnail) if bug.image.attached? %></td>
  <td><%= bug.bug_type.capitalize %></td>
  <td><%= bug.bug_status.capitalize %></td>
  <td>
    <% if bug.assign_to %>
      <%= bug.assign_to.name.titleize %>

    <% else %>
      Not Assigned
    <% end %>
  </td>
  <td>  
    <% if current_user.developer? && !bug.assign_to && !bug.resolved? && !bug.completed? %>
      <%= link_to 'Take Bug', assign_bug_project_bug_path(@project,bug), method: :patch, class: "text text-warning white-link" %> &nbsp  
    <% end %> 
    
    <% if !bug.completed? && !bug.resolved? && current_user.developer? && bug.assign_to == current_user %>
      <%= link_to 'Mark as Resolved', resolve_bug_project_bug_path(@project,bug), method: :patch, class: "text text-success white-link" %> &nbsp
    <% end %>
      
    <% if (bug.completed? || bug.resolved?)  && current_user.developer? && bug.assign_to == current_user %>
      <%= link_to 'Rework On Bug', assign_bug_project_bug_path(@project,bug), method: :patch, class: "text text-warning white-link" %> &nbsp
    <% end %> 
   
    <% if policy(bug).update? %>
        <%= link_to edit_project_bug_path(@project,bug), class: "text-light" do %>
          <i class="far fa-edit"></i> &nbsp
        <% end %>

        <%= link_to project_bug_path(@project,bug), method: :delete, data:{confirm: "Are you sure?"}, class: "text-light" do %>
          <i class="fa fa-trash"></i>
        <% end %>
    <% end %>
  </td>
</tr>
